USE [hessabi1]
GO
/****** Object:  User [prof1]    Script Date: 9/8/2017 11:47:48 AM ******/
CREATE USER [prof1] FOR LOGIN [prof1] WITH DEFAULT_SCHEMA=[prof1]
GO
/****** Object:  User [prof2]    Script Date: 9/8/2017 11:47:48 AM ******/
CREATE USER [prof2] FOR LOGIN [prof2] WITH DEFAULT_SCHEMA=[prof2]
GO
/****** Object:  User [salamatravan]    Script Date: 9/8/2017 11:47:49 AM ******/
CREATE USER [salamatravan] FOR LOGIN [salamatravan] WITH DEFAULT_SCHEMA=[salamatravan]
GO
ALTER ROLE [db_ddladmin] ADD MEMBER [prof1]
GO
ALTER ROLE [db_backupoperator] ADD MEMBER [prof1]
GO
ALTER ROLE [db_datareader] ADD MEMBER [prof1]
GO
ALTER ROLE [db_datawriter] ADD MEMBER [prof1]
GO
ALTER ROLE [db_ddladmin] ADD MEMBER [prof2]
GO
ALTER ROLE [db_backupoperator] ADD MEMBER [prof2]
GO
ALTER ROLE [db_datareader] ADD MEMBER [prof2]
GO
ALTER ROLE [db_datawriter] ADD MEMBER [prof2]
GO
ALTER ROLE [db_ddladmin] ADD MEMBER [salamatravan]
GO
ALTER ROLE [db_backupoperator] ADD MEMBER [salamatravan]
GO
ALTER ROLE [db_datareader] ADD MEMBER [salamatravan]
GO
ALTER ROLE [db_datawriter] ADD MEMBER [salamatravan]
GO
/****** Object:  Schema [prof1]    Script Date: 9/8/2017 11:47:51 AM ******/
CREATE SCHEMA [prof1]
GO
/****** Object:  Schema [prof2]    Script Date: 9/8/2017 11:47:51 AM ******/
CREATE SCHEMA [prof2]
GO
/****** Object:  Schema [salamatravan]    Script Date: 9/8/2017 11:47:52 AM ******/
CREATE SCHEMA [salamatravan]
GO
/****** Object:  Table [dbo].[Cities]    Script Date: 9/8/2017 11:47:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cities](
	[Id] [int] NULL,
	[ProvinceId] [int] NULL,
	[Name] [nvarchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Hotels]    Script Date: 9/8/2017 11:47:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Hotels](
	[Id] [float] NULL,
	[HotelName] [nvarchar](255) NULL,
	[City] [float] NULL,
	[Province] [float] NULL,
	[Lat] [float] NULL,
	[Long] [float] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Provinces]    Script Date: 9/8/2017 11:47:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Provinces](
	[Id] [int] NULL,
	[Name] [nvarchar](50) NULL,
	[CountryId] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[v_profile]    Script Date: 9/8/2017 11:47:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[v_profile]
AS
SELECT        phone, fullName, Height, Weight, pic
FROM            dbo.tbl_users

GO
INSERT [dbo].[Cities] ([Id], [ProvinceId], [Name]) VALUES (1, 1, N'آذرشهر')
INSERT [dbo].[Cities] ([Id], [ProvinceId], [Name]) VALUES (2, 1, N'اسکو')
INSERT [dbo].[Cities] ([Id], [ProvinceId], [Name]) VALUES (3, 1, N'اهر')
GO
INSERT [dbo].[Hotels] ([Id], [HotelName], [City], [Province], [Lat], [Long]) VALUES (1, N'Baba Taher Hotel', 330, 29, 34.810297, 48.510589)
INSERT [dbo].[Hotels] ([Id], [HotelName], [City], [Province], [Lat], [Long]) VALUES (2, N'Parsian BuAli Hotel', 330, 29, 34.784893, 48.512949)
INSERT [dbo].[Hotels] ([Id], [HotelName], [City], [Province], [Lat], [Long]) VALUES (3, N'Yas Hotel', 330, 29, 34.79891, 48.515819)
INSERT [dbo].[Provinces] ([Id], [Name], [CountryId]) VALUES (1, N'آذربایجان شرقی', 1)
INSERT [dbo].[Provinces] ([Id], [Name], [CountryId]) VALUES (2, N'آذربایجان غربی', 1)
INSERT [dbo].[Provinces] ([Id], [Name], [CountryId]) VALUES (3, N'اردبیل', 1)
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[40] 4[20] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
		 Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "tbl_users"
            Begin Extent = 
               Top = 6
               Left = 38
               Bottom = 136
               Right = 208
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'v_profile'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'v_profile'
GO
